.appSite {
  height: 100vh;
  min-height: 0; /* NEW */
  min-width: 0;
  display: grid;
  grid-template-rows: 100px 50px auto;
  grid-gap: 0.5em;
  grid-template-areas:
    "header"
    "nav"
    "content";
}
