body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

input {
  max-width: 500px;
}

.gray {
  color: #828282;
}

.lightblue {
  background-color: #8198e4;
}

/* .background-gray {
  background-color: rgb(221, 221, 221);
} */

.f11 {
  font-size: 11px;
}

.w85 {
  width: 85%;
}

button.button {
  margin-right: 16px;
}
